<div class="login-container h-full w-full flex justify-center items-center">
  <div class="w-1/2">
    <h2>Tizimga kirish</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="w-1/2 flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          Login kiritish shart
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Parol</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Parol kiritish shart
        </mat-error>
      </mat-form-field>

      <p *ngIf="errorMsg" style="color: red">{{ errorMsg }}</p>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Kirish
      </button>
    </form>
  </div>
</div>
